<div class="container">
  <form #emailForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Enter email</label>
      <input
        required
        type="email"
        name="email"
        [(ngModel)]="email"
        pattern=".+@.+\..+"
        #emailControl="ngModel"
        class="input"
        [ngClass]="{ 'is-danger': emailControl.invalid }"
      />
      <button class="button is-primary" [disabled]="emailForm.invalid">
        Submit
      </button>
      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div *ngIf="emailControl.errors.required" class="help is-danger">
          You must enter an email
        </div>
        <div *ngIf="emailControl.errors.pattern" class="help is-danger">
          Please enter a valid email
        </div>
      </ng-container>
    </div>
  </form>
</div>
